* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 22px;
  text-align: center;
  }

body { 
  font-family: 'Noto Serif SC', serif;
  width: 100%;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcx8oy54GBuZxNl-0ohOlcK5COAPVk2EAnfA-LbmysvXNK0iEr');
}

header, main, .lastPage {
    background-color: rgba(44, 158, 224, 0.9);
    border: 1px solid black;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: 80px auto;
  }

#submit-button {
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 30px;
  border: 1px solid rgba(0, 247, 255, 0.74);

}

#submit-button:hover {
color: white;
background-color: dimgray;
}

header h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 30px;

}

h2 {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

button {
  border: 1px solid rgba(0, 247, 255, 0.74);
  border-radius: 5px;
   padding: 10px 30px;
}

button:hover {
  background-color:dimgrey;
  color: white;
}

button, #continue {
  margin: 20px 0px;
  text-align: center;
}

.answers {
 display: block;
 margin: 0px 10px;
}
  
input,label {
    cursor: pointer;
  }

.quiz-content,.lastPage {
  display: none;
}

.highlight {
  background-color: aquamarine;
}

.passFail {
  display: inline-block;
  text-align: center;
  border: 10px solid aquamarine;
  padding: auto;
}

.passFail, #correctAnswer, p {
  font-size: 30px;
}

.passFail #answerSolution {
  font-size: 22px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 100%;
}

.status-info {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#question-info, #score-info {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
}

#score-info {
  float: right;
}

#question-info {
  float: left;
}

.lastPage h1 {
  padding: 30px 30px 10px;
}

.lastPage p {
  padding: 20px 20px 10px;
}

@media screen and (max-width: 700px) { 
  header, main, .lastPage {
    width: 90%;
    margin: 40px auto;
  }
}